.search-section {
  padding: 95px 70px;
  background: var(--section-light);
  color: var(--text-dark);
  height: 50rem;
}

.section-heading {
  text-align: center;
  max-width: 680px;
  margin: 0 auto 40px;
}

.section-heading h2 {
  font-family: 'Cinzel', serif;
  font-size: 46px;
  margin-bottom: 12px;
}

.search-form {
  max-width: 760px;
  margin: 0 auto 38px;
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-form input {
  width: min(420px, 100%);
  padding: 16px 18px;
  border: 1px solid #c8bda8;
  border-radius: 999px;
  font-size: 15px;
  background: var(--card-light);
}

.search-form p{
  font-family: 'Cinzel', serif;
}
.search-form button {
  padding: 16px 24px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: var(--text-dark);
  color: var(--section-light);
  font-weight: 600;
}

.artwork-result {
  margin: 40px auto 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.art-card {
  width: 900px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 35px;
  align-items: center;
  background: rgba(23, 19, 15, 0.08);
  border: 1px solid rgba(179, 148, 90, 0.35);
  border-radius: 24px;
  padding: 24px;
  margin-left: 3rem;
}

.art-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 18px;
}

.art-info h3 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #0f0d0a;
  margin-bottom: 20px;
}

.art-info p {
  font-size: 18px;
  margin-bottom: 14px;
  color: #0f0d0a;
}
