.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  background: transparent;
}

.logo {
  font-family: 'Cinzel', serif;
  color: var(--museum-gold);
  font-size: 20px;
  letter-spacing: 2px;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav a {
  color: var(--museum-cream);
    /* font-family: 'Cinzel', serif; */
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--museum-gold);
}