@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap');

:root {
  --museum-brown: #28241d;
  --museum-brown-light: #3a3327;
  --museum-dark: #0f0d0a;
  --museum-gold: #b3945a;
  --museum-gold-soft: #d2b879;
  --museum-cream: #f4ead6;
  --museum-muted: #b9ad98;
  --section-light: #eee7dc;
  --text-dark: #17130f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Inter', sans-serif; */
    font-family: 'Cinzel', serif;
  background: var(--museum-brown);
  color: var(--museum-cream);
}

a {
  text-decoration: none;
}